<div class="back-link"><%= link_to tasks_path do %>
  <i class="fas fa-arrow-left FA-key"  style="padding-left: 20px;"></i>
  <% end %>
</div>
<h1 style="text-align:center;" class="devise-links login">New Task</h1>

<%= render 'form', task: @task %>


